* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #339933;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px
        rgba(0, 0, 0, 0.25);
}

body {
    align-items: center;
    justify-content: center;
} 

a {
    color: white; 
    text-decoration: none;
}

footer {
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: #339933;
    padding: 10px 0px;
    width: 100%;
    display: inline-block;
    text-align: center;
    bottom: 0;
    margin-top: 77px;

}

/*SLIDER FECHAS*/

.container {
    position: relative;
    align-items: center;
    margin-bottom: 13px;
}

.container, .slider {
    width: 500px;
    float: right;
    font-size: 18px;
    margin-right: 4%;
    margin-left: auto;
    margin-top: 60px;
}

.slider {
    text-align: center;
}
.slider-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.slider-content table {
    border-spacing: 0px;
}

.slider-content tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.slider-content tbody tr:hover {
    font-weight: bold;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .15);
}

.slider-table td {
    border-bottom: 2px solid #f3f3f3;
}

.slider .slider-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.slider .slider-content table {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.slider .active {
    display: block;
}

.container .controls {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.container .controls .control {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #339933;
    cursor: pointer;
    
}

.logos {
    width: 10%;
}

.center-stats {
    text-align: center;
    width: 6%;
}

.fecha-partido {
    width: 90px;
}

.equipoUno, .equipoDos {
    width: 250px;
}

.resultadoUno, .resultadoDos {
    width: 50px;
}

/*Nav Menu*/

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #339933;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .30);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px; 
}

ul a{
    font-size: 22px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

ul a {
    position: relative;
}

ul a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

ul a {
    transition: all 2s;
}

ul a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
ul a:hover {
    color: #fff;
    z-index: 1;
    color: #339933;
}
ul a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border-radius: 8px;
    }
}

.checkbtn {
    cursor: pointer;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}
/*TABLA PUNTOS*/

#leaderboard {
    border-collapse: collapse;
    margin-top: 180px;
    margin-left: 5%;
    margin-right: auto;
    font-size: 20px;
    min-width: 20%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    width: 40%;
    float: left;
}

#leaderboard thead tr {
    background-color: #339933;
    color: white;
    text-align: left;
    font-weight: bold;
}

#leaderboard th, #leaderboard td {
    padding: 12px, 15px;
}

#leaderboard tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

#leaderboard tbody tr:last-of-type {
    border-bottom: 2px solid #339933;
}

#leaderboard tbody tr:hover{
    font-weight: bold;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .30);
}

#difGoles {
    width: 60px;
}

.posicion {
    text-align: center;
    width: 40px;
}

#torneoname {
    margin-top: 28px;
}

.cards {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    margin-left: 3.5%;
}

.cards img {
    padding: 30px;
    width: 250px;
}


@media (max-width: 1540px) {

    #leaderboard {
        margin-left: auto;
        float: none;
        width: auto;
    }

    header {
        margin-top: -180px;
        width: 100%;
    }

    .container {
        margin-right: auto;
        float: none;
        width: 80%;
        margin-left: 12%;
    }
    .container .slider {
        width: 500px;
        margin-left: auto;
        align-items: center;
    }

    .cards {
        display: block;
        text-align: center;
        width: auto;
        margin-left: auto;
    }

    .cards img {
        width: 400px;
    }

}

@media (max-width: 1200px) {
    .cards img{
        width: 400px;
        display: block;
        margin-left: auto;
    }
}

@media (max-width: 1089px) {
    #leaderboard {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .cards img {
        display: inline-block;
        width: auto;
    }

    .container .slider {
        width: 500px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 690px) {
    #leaderboard {
        margin-left: auto;
        margin-right: auto;
    }
    .center-stats {
        width: 30px;
    }
    .container .slider {
        width: 100%;
        float: none;
        margin-left: auto;
    }
    .container {
        width: 90%;
        margin-left: auto;
    }

    .cards {
        width: auto;
    }

    .cards img {
        width: 80%;
    }

    .logo img {
        height: 70px;
    }

    .logo {
        font-size: 15px;
    }

    .checkbtn {
        display: block;
    }

    ul a {
        display: block;
        margin: 50px 0;
        text-align: center;
    }
   ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2a792a;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        color: white;
        top: 80px;
        text-align: center;
    }

    #check:checked ~ ul{
        left: 0%;
    }


}

@media (max-width: 580px) {
    #leaderboard {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }

    .container {
        width: 80%;
        margin-left:10%;
    }

    .container .slider {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    #leaderboard {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 450px) {
    header {
        font-size: 20px;
    }

    #torneoname {
        margin-top: 32px;
    }
}

@media (max-width: 390px) {
    header {
        font-size: 10px;
    }

    .logo img {
        height: 50px;
    }

    #torneoname {
        margin-top: 36px;
    }
}
